body {
	font-family: sans-serif;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
}
#weight-add {
	margin-bottom: 10px;
	/*padding: 10px;*/
}
#weight-add form {
	margin: 2px 0 0 5px; 
	padding: 5px 5px 5px 60px; 
	background: url(assets/alert.png) no-repeat 0 2px;
}
#header {
	padding: 10px;
}

td {
	padding: 3px 20px;
}
.sumrow td {
	border-top: 1px solid black;
}
.red {
	color: red;
}
.green {
	color: green;
}

h4 {
	margin: 0.5em 0 0 0;
}

#weight-graph, #walk-graph {
	width: 942px;
	height: 300px;
}

.ui-tabs-panel .ui-widget-content {
	background: white;
	padding: 10px;
	font-size: 0.8em;
}

.column {
	 width: 440px;
	 height: 400px;
	 padding: 0 10px;
}

.graph-container {
	position: relative;
}

.scrollbutton{
	position: absolute;
	top: 140px;
}

.scrollbutton.left {
	left: 10px;
}

.scrollbutton.right {
	right: 10px;
}
